.places__link {
  margin: 12px 0 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
  .places__link {
    margin: 12px 0 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .places__link {
    margin: 12px 0 0;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px){
  .places__link {
    margin: 12px 0 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 424px) {
  .places__link {
    margin: 12px 0 0;
  }
}
