.cover__subtitle {
  margin: 32px 0 0;
  padding: 0;
  align-self: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  max-width: 360px;
  box-sizing: border-box;
}
@media screen and (max-width: 1279px){
  .cover__subtitle {
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: calc(14/320*100vw);
    margin: calc(0.05*100vw) 0 0;
    width: calc(0.9*100vw);
  }
}
