.places__text {
  margin: 48px 0 0;
  padding: 0;
  padding-left: 7px;
  grid-area: text;
  box-sizing: border-box;
}
.places__text :first-of-type {
  margin-top: 0;
}
@media screen and (max-width: 767px){
  .places__text {
    margin: 32px 0 0;
    padding: 0 16px 0;
  }
}
