.lead__title {
  margin: 0 auto;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  max-width: 720px;
  line-height: 1.05;
  text-align: center;
  color: #FFFFFF;
  box-sizing: border-box;
}
@media screen and (max-width: 767px){
  .lead__title {
    font-size: calc(0.125*100vw);
  }
}
@media screen and (max-width: 424px) {
  .lead__title {
    line-height: 1.05;
    max-width: 288px;
  }
}
