.lead__image {
  margin: 64px 0 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 1279px){
.lead__image{
    margin: 56px 0 0;
  }
}
@media screen and (max-width: 424px) {
  .lead__image {
    margin: 40px 0 0;
  }
}
