.cover__text {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-self: center;
  text-decoration: none;
  box-sizing: border-box;
}
