.lead__subtitle {
  margin: 32px auto 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  max-width: 640px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  box-sizing: border-box;
}
@media screen and (max-width: 1279px){
  .lead__subtitle{
    padding-right: 5px;
  }
}
@media screen and (max-width: 767px){
  .lead__subtitle {
    font-size: calc(0.05*100vw);
    width: calc(0.9*100vw);
  }
}
@media screen and (max-width: 424px) {
  .lead__subtitle {
    margin: 19px auto 0;
    font-size: 16px;
    padding-right: 2px;
  }
}
