.places__place {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,minmax(min-content,max-content));
  grid-template-areas:
  "title website"
  "image text";
  width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 767px){
  .places__place {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,minmax(min-content,max-content));
    grid-template-areas:
    "title"
    "image"
    "text";
  }
}
