.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(0.625*100vw);
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
}
.cover__background::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2A2C2F;
  opacity: 0.3;
}
.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .cover__background {
    height: 740px;
  }
}
