.cover__title {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  max-width: 560px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px){
  .cover__title {
    font-size: calc(0.1*100vw);
    width: calc(0.85*100vw);
    padding: 0 16px 0;
  }
}
