.places__website {
  margin: 0;
  padding: 0;
  padding-left: 7px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  grid-area: website;
  align-self: flex-end;
  box-sizing: border-box;
}
@media screen and (max-width: 767px){
  .places__website {
    display: none;
  }
}
