.header__lang-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.header__lang-links :nth-last-child(1) {
  margin: 0;
}
.header__lang-links :active {
  text-decoration: underline;
}
