.intro__title {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #FFFFFF;
  box-sizing: border-box;
}
@media screen and (max-width: 767px){
  .intro__title {
    font-size: calc(0.1*100vw);
  }
}
@media screen and (max-width: 424px) {
  .intro__title {
    padding-right: 40px;
  }
}
